a {
  color: var(--anchor-color);
  text-decoration: underline;
}

a:hover {
  color: var(--anchor-color-hover);
  text-decoration: underline;
}

a:visited {
  color: var(--anchor-color-visited);
}

a:active {
  color: var(--anchor-color-active);
}
a:focus {
  color: var(--anchor-color-focus);
}
