:host {
  overflow-y: auto;
  display: block;
  margin: 0 0.5em;
  background-color: var(--hox-card-background-color);
  color: var(--hox-card-color);

  border-radius: var(--hox-card-border-radius);
  box-shadow: var(--hox-card-box-shadow);
  padding: 0.5em;
}

@media (max-width: 600px) {
  :host {
    overflow-y: auto;
  }
}
