:root {
  --hox-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hox-font-size: 16px;
  --hox-line-height: 1.5;
  --hox-font-color: #504c4c;
  --hox-background-color: #fffdf6;

  --hox-card-background-color: var(--hox-background-color, #fff);
  --hox-card-color: var(--hox-font-color, #0f0f0f);

  --hox-card-border-radius: 0.25rem;
  --hox-card-box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2),
    0 4px 3px 0 rgba(0, 0, 0, 0.15);

  --anchor-color: #c79c4c;
  --anchor-color-hover: #ffdd9d;
  --anchor-color-visited: #946713;
  --anchor-color-active: #c79c4c;
  --anchor-color-focus: #966405;
}

html {
  margin: 0;
  padding: 0;
  font-size: var(--hox-font-size);
  line-height: var(--hox-line-height);
  font-family: var(--hox-font-family);
  background-color: var(--hox-background-color);
  color: var(--hox-font-color);
}

body {
  padding: 0 1em;
  height: 100dvh;
  overflow-y: hidden;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-rows: 80px 1fr 96px;
  grid-template-columns: 0.25fr auto;
}

nav {
  grid-area: header;
  padding: 1em;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
aside ul {
  margin: 0;
  padding: 0 0.5em;
}

aside ul h4 {
  margin: 0.5em 0;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
  margin: 0.5em;
}

footer {
  grid-area: footer;
}

@media (max-width: 600px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
    grid-template-rows: auto 80dvh auto auto;
    grid-template-columns: 1fr;
    overflow-y: auto;
  }
  aside {
    order: 3;
  }
  footer {
    order: 4;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --hox-font-color: #e8e6e3;
    --hox-background-color: #2c1d04;

    --hox-card-background-color: var(--hox-background-color, #0f0f0f);
    --hox-card-color: var(--hox-font-color, #e8e6e3);

    --anchor-color: #f0bf63;
    --anchor-color-hover: #ffdd9d;
    --anchor-color-visited: #be8315;
    --anchor-color-active: #e9bd6b;
    --anchor-color-focus: #df9f29;
    --hox-card-box-shadow: 0 5px 5px 4px rgba(199, 156, 76, 0.5),
      0 4px 4px 0 rgba(199, 156, 76, 0.4);
  }
}
